@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #2b2c2c;
}

/* Heading and logo styling */

h1, h2, h3 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1b1c1c;
}

#logo {
    text-align: center;
    font-size: 200%;
    line-height: 75px;
}

/* Navigation menu links styling */

#nav-menu {
    font-size: 150%;
    letter-spacing: 2px;
    line-height: 50px;
}

#nav-menu ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

#nav-menu ul li {
    display: inline-block;
    padding: 0 75px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #2b2c2c;
}

.current {
    border-bottom: 1px solid #2b2c2c;
}

/* renewables image*/

#welcome-area {
    height: 600px;
    width: 100%;
    position: relative;
}

#summary, #summary h2 {
    color: #2b2c2c;
}

#renewable-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/renewable-image.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#summary {
    font-size: 100%;
    font-family: roboto, sans-serif;
    width: 300px;
    height: 150px;
    padding-top: 10px;
    padding-right: 25px;
    background-color: rgba(228, 241, 254, 0.5);
    top: 50px;
    right: 25px;
    position: absolute;
}

/* Work Flow section */

#work-flow div {
    height: 150px;
}

#left-work-flow {
    float: left;
    width: 33%;
    padding: 25px 20px;
    line-height: 25px;
}

#right-work-flow {
    float: right;
    width: 33%;
    padding: 25px 20px;
    line-height: 25px;
}

#center-work-flow {
    width: 33;
    margin: 0 auto;
    padding: 25px 20px;
    line-height: 25px;
}

#work-flow h2 {
    text-align: center;
}

hr {
    border-top: 1px solid #1b1c1c;
    margin: 5px 25px;
}

/* footer styling */

footer {
    height: 150px;
}

footer > ul {
    text-align: center;
}

footer li {
    display: inline;
}

footer i {
    font-size: 200%;
    margin: 2%;
    padding: 2%;
    color: #1b1c1c;
}

/* add about us styling */

.about-us {
    height: 600px;
}

.about-us > h3 {
    text-transform: uppercase;
    padding-top: 10px;
    text-decoration: underline;
}


/* projects styling */

.project {
    padding: 10px;
    height: 450px;
    max-width: 1200px;
    margin: auto;
}

.project-column {
    float: left;
    width: 25%;
}

.project:after {
    content: "";
    display: table;
    clear: both;
}

.details {
    padding: 10px;
}

.details > hr {
        border-top: 1px solid #1b1c1c;
        margin: 5px 5px;
}

.projects h4 {
    text-align: center;
}