@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #2b2c2c;
    background-color: rgba(236, 236, 236, 0.5);
}

/* Heading and logo styling */

h1,
h2,
h3 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1b1c1c;
}

#logo {
    text-align: center;
    font-size: 200%;
    line-height: 75px;
}

/* Navigation menu links styling */

#nav-menu {
    font-size: 150%;
    letter-spacing: 2px;
    line-height: 50px;
    font-family: roboto, sans-serif;
}

#nav-menu ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

#nav-menu ul li {
    display: inline-block;
    padding: 0 60px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #2b2c2c;
}

.current {
    border-bottom: 1px solid #2b2c2c;
}

/* renewables image*/

#welcome-area {
    height: auto;
    width: 100%;
    position: relative;
}

#summary,
#summary h2 {
    color: #2b2c2c;
}

#renewable-image {
    height: 600px;
    width: 100%;
    background-image: url(../images/renewable_image.jpeg);
    background-repeat: no-repeat;
    object-fit: contain;
}

#summary {
    font-size: 100%;
    width: 340px;
    height: 80px;
    padding-top: 5px;
    padding-left: 25px;
    background-color: rgba(228, 241, 254, 0.5);
    top: 0px;
    left: 50px;
    position: absolute;
}

/* Work Flow section */

#left-work-flow {
    float: left;
    width: 33%;
    padding: 20px 20px;
    line-height: 25px;
}

#right-work-flow {
    float: right;
    width: 33%;
    padding: 20px 20px;
    line-height: 25px;
}

#center-work-flow {
    margin: 0 auto;
    padding: 20px 20px;
    line-height: 25px;
}

#work-flow h2 {
    text-align: center;
}

hr {
    border-top: 1px solid #1b1c1c;
    margin: 5px 25px;
}

/* footer styling */

footer {
    height: 150px;
}

footer>ul {
    text-align: center;
    clear: both;
}

footer li {
    display: inline;
}

footer i {
    font-size: 200%;
    margin: 2%;
    padding: 2%;
    color: #1b1c1c;
}

/* add about us styling */

#about-us {
    height: auto;
}

#about-us h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
}

#about-us-left {
    clear: left;
    padding-top: 10px;
    width: 33%;
    float: left;
}

#about-us-right {
    padding-top: 10px;
    width: 33%;
    float: right;
}

#about-us-center {
    padding-top: 10px;
    width: 33%;
    margin: 0 auto;
}

.about-text {
    width: 60%;
    text-align: left;
    line-height: 20px;
    clear: both;
    margin: 30px;
}

#about-text-center {
    width: 80%;
    text-align: left;
    line-height: 20px;
    margin: 30px;
}

/* meet the team styling */

#meet-team {
    height: auto;
    clear: both;
}

#meet-team>h2 {
    text-align: center;
    padding-top: 10px;
}

.about-column {
    float: left;
    width: 30%;
    margin: 10px 5px;
    padding: 0 8px;
}

.about-team-member {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
}

.box {
    padding: 5px 5px;
    height: 250px;
}

.box>p {
    margin-top: 10px;
}

.about-column img {
    height: auto;
    width: 100%;
}

/* projects styling */

.project {
    padding: 10px;
    height: auto;
}

.project-column-left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 100%;
    margin: 25px 10px;
}

.project-column-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 100%;
    margin: 25px 5px;
}

.right-side-img {
    float: right;
    height: 225px;
    width: auto;
    padding: 10px;
}

.left-side-img {
    float: left;
    height: 225px;
    width: auto;
    padding: 10px;
}

.details-text {
    margin: 5px;
}

.details-text>p {
    margin-top: 5px;
}

.details-text>hr {
    border-top: 1px solid #1b1c1c;
    margin: 5px 5px;
}


/* contact us form styling */

#container {
    height: auto;
    width: 100%;
}

#contact-us {
    width: 100%;
    height: auto;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
}

#form {
    width: 100%;
    padding-top: 20px;
    margin: 25px 20px 25px 10px;
}

input[type=text],
select,
textarea {
    width: 100%;
    border: 1px solid #1b1c1c;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: vertical;
}


#submit {
    width: 150px;
    margin-top: 5px;
    border: 1px solid #1b1c1c;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

#submit:hover {
    background-color: #bfbfbf;
}

#contact-details {
    width: 100%;
    padding-top: 20px;
    margin: 25px 20px 25px 25px;
}

#contact-details h2 {
    text-decoration: underline;
}

#contact-details h3 {
    margin-top: 10px;
}

#contact-details p {
    font-size: 15px;
}

/* contact us google map styling */

#find-us {
    position: relative;
    overflow: hidden;
    max-width: 75%;
    height: 300px;
    margin: 0 auto;
    clear: both;
}

#find-us iframe {
    position: absolute;
    width: 100%;
    height: 300px;
    float: none;
}

/* 404 error message */

#error-page {
    width: 500px;
    text-align: center;
    clear: both;
}

#error-text {
    display: block;
    text-align: center;
}

/* Media queries */

/* Media query for contact us google maps */

@media screen and (max-width: 1160px) {

    #contact-us {
        float: none;
        max-width: 100%;
        margin: 0 auto;
        clear: both;
    }

    #container {
        height: auto;
    }

    #find-us {
        width: 60%;
        margin: 0 auto;
        clear: both;
        margin-bottom: 25px;
    }
}

/* For larger to medium screens size 1024px and down */

@media screen and (max-width: 1024px) {

    /* For home page */

    #work-flow {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }


    #left-work-flow,
    #right-work-flow {
        clear: both;
        width: 100%;
        float: left;
        padding: 0%;
        margin-bottom: 10px;
        line-height: 20px;
    }

    #centre-work-flow {
        clear: both;
        width: 100%;
        padding: 0;
        line-height: 20px;
    }

    #work-flow h2 {
        margin: 10px 0px;
    }

    hr {
        display: none;
    }

    #nav-menu {
        font-size: 120%;
        line-height: 50px;
    }

    #nav-menu ul li {
        padding: 0 20px;
        line-height: 30px;
    }

    /* For About us page */

    #about-us h2 {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .about-text {
        width: 80%;
        text-align: left;
        line-height: 20px;
        clear: both;
        margin: 20px;
    }

    #about-text-center {
        width: 80%;
        text-align: left;
        line-height: 20px;
        margin: 20px;
    }

    /* About Us meet the team styling */

    #meet-team {
        height: auto;
    }

    .about-column {
        float: left;
        width: 30%;
        margin: 5px;
        padding: 0 0px;
    }

    .box {
        padding: 5px 5px;
        height: 320px;
    }

    .box p {
        font-size: 14px;
    }

    /* Projects styling */

    .project {
        padding: 10px;
        margin: auto;
    }

    .details>h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }

    #error-page {
        width: 400px;
        height: 400px;
    }

    #error-text {
        font-weight: normal;
    }

}

/* For tablet screen size 768px and down */

@media screen and (max-width: 768px) {

    /* Index page styling */

    #nav-menu {
        font-size: 100%;
        line-height: 40px;
    }

    #nav-menu ul li {
        padding: 0 15px;
        line-height: 30px;
    }

    #work-flow {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    #work-flow h2 {
        margin-bottom: 10px;
    }

    #left-work-flow,
    #right-work-flow {
        clear: both;
        width: 100%;
        float: left;
        padding: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
    }

    #centre-work-flow {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        line-height: 15px;
    }

    #summary {
        font-size: 100%;
        width: 275px;
        height: 50px;
        padding-top: 5px;
        padding-right: 10px;
        top: 10px;
        right: 25px;
        position: absolute;
    }

    #summary>h2 {
        font-size: 15px;
    }

    #summary>h3 {
        font-size: 10px;
    }

    /* About us page styling */

    #about-us {
        height: auto;
    }

    .about-us {
        clear: both;
        width: 85%;
        margin: 0 auto;
        float: none;
    }

    #about-us-left,
    #about-us-right,
    #about-us-center {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    /* Meet the Team page styling */

    #meet-team {
        height: auto;
    }

    .about-column {
        clear: both;
        width: 85%;
        margin: 0 auto;
        float: none;
    }

    .about-team-member {
        width: 75%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    /* Projects page styling */

    .project-column-left {
        clear: both;
        height: 350px;
        width: auto;
    }

    .project-column-right {
        clear: both;
        height: 350px;
        width: auto;
    }

    .right-side-img {
        float: right;
        height: 200px;
    }

    .left-side-img {
        float: left;
        height: 200px;
    }

    .details-text>p {
        display: inline;
    }

    .details>h4 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    /* Contact page styling */

    #contact-us {
        max-width: 80%;
        margin: 0 auto;
        clear: both;
        display: block;
    }

    #find-us {
        width: 80%;
        height: 200px;
        margin: 0 auto;
        clear: both;
        display: block;
    }

    #contact-details {
        width: 80%;
        clear: both;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    #error-page {
        width: 300px;
        height: 300px;
    }

    #error-text {
        font-weight: normal;
    }
}


/* For mobile devices size 480px and down */

@media screen and (max-width: 480px) {

    /* Index page styling */

    h1,
    h2,
    h3 {
        letter-spacing: 1px;
    }

    #logo {
        font-size: 125%;
        line-height: 40px;
    }

    #nav-menu {
        font-size: 75%;
        line-height: 40px;
        margin: 0;
    }

    #nav-menu ul li {
        padding: 0 5px;
        line-height: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #work-flow {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    #left-work-flow,
    #right-work-flow {
        clear: both;
        width: 100%;
        float: left;
        padding: 0%;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #center-work-flow {
        clear: both;
        width: 100%;
        float: left;
        padding: 0%;
        line-height: 20px;
    }

    #summary {
        width: 170px;
    }

    /* About Us page styling */

    #about-us {
        height: auto;
    }

    .about-us {
        clear: both;
        width: 90%;
    }

    #about-us-left,
    #about-us-right,
    #about-us-center {
        width: 90%;
    }

    #meet-team {
        height: auto;
    }

    /* Projects page styling */

    .project-column-left {
        height: 450px;
        margin-bottom: 25px;
    }

    .project-column-right {
        height: 450px;
        margin-bottom: 25px;
    }

    .right-side-img {
        width: 100%;
        height: auto;
        float: none;
        padding: 0%;
    }

    .left-side-img {
        width: 100%;
        height: auto;
        float: none;
        padding: 0%;
    }

    .details-text>h2 {
        clear: both;
    }

    .details-text p {
        margin-top: 10px;
    }

    /* Contact Us styling */

    #contact-us {
        float: none;
        max-width: 90%;
        margin: 0 auto;
        clear: both;
    }

    #contact-details {
        width: 80%;
    }

    #find-us {
        width: 90%;
        height: 150px;
        margin: 0 auto;
        clear: both;
        float: none;
    }

    #form {
        margin: 0px;
    }

    #contact-us h2 {
        font-size: 20px;
    }

    .contact-details h2 {
        font-size: 20px;
    }

    .contact-details h3 {
        font-size: 15px;
    }

    #error-page {
        width: 200px;
        height: 200px;
    }

    #error-text {
        font-weight: normal;
    }
}