@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300;
    color: #69686e;
}

/* Heading and logo styling */

h1, h2 {
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #363641;
}

#logo {
    text-align: center;
    font-size: 200%;
    line-height: 75px;
}

/* Navigation menu links styling */

#nav-menu {
    font-size: 150%;
    letter-spacing: 2px;
    line-height: 50px;
}

#nav-menu ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

#nav-menu ul li {
    display: inline-block;
    padding: 0 75px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #69686e;
}

.current {
    border-bottom: #69686e;
}


